@{
    ViewBag.Title = "Nastavení hesla";
}

<h2>@ViewBag.Title.</h2>

@if (Request.IsAuthenticated && User.IsInRole("admin"))
{
    <h4>Nastavení nového hesla pro uživatele <em>@Model.UserName</em>.</h4>
    <hr />

    @Html.Partial("_ResetPasswordPartial");
}
else
{
    <p>Tato funkce je dostupná pouze administrátorovi.</p>
    @TempData.Remove("error");
}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
